.bg{
  margin-top: -20px;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
  background-size: cover;
}
.diachi{
	border-bottom: 1px solid #9e8d8d;
	padding: 5px;
	padding-left: 20px;  
	padding-right:20px;  
}
.banner{
	width: 100%;
}
.z_index{
	position: absolute;
	left: 0px;
	top:0px;
	z-index: -1;
}
.z_index_p{
	margin-top:200px;
	margin-left: 20px; 
	margin-right: 20px; 
	text-align: center;
	background: #fff;
	font-size: 20px;
	color: #00a859;
	opacity: 0.8;
	padding:8px; 
}
.banner-slide{
	width: 33,333333%;
	float: left;
}
.navbar{
	border-radius: 0px; 
}
.navbar-default{
	background-color:#00a859; 
}
.navbar-default .navbar-brand{
	color: #fff;
	font-size: 18px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
	background:#ff6600; 
	color:#fff;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
	font-size: 18px;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover{
	background:#ff6600; 
	color:#fff;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus{
	background:#ff6600; 
	color:#fff;
}



.marg{
	margin: 25px;
}
.button-mid{
	margin: auto;
	padding-top: 12px;
    padding-bottom: 12px;
	width: 200px;
	background: #00a859;
	color: #fff;
	text-align: center;
	border-radius: 15px;
	/*margin: 10px;*/
	/*text-align: center;*/
}
.tieude{
	/*background: green;*/
	border-bottom: 2px solid green;
}
.noidung{
	background: #fff;
	padding: 10px;
}
.noidung_1{
	margin-top: 10px;
}
.tieude>h5{
	width: 220px;
	padding-top:5px; 
	padding-bottom:5px;
	background: green;
	margin-bottom: 0px;
	text-align: center;
	color: #fff;
}

.footer{
	background: #d9f2e6;
	padding:10px 10px 10px 10px; 
}
.main-1{
	margin-top: 15px;
	padding-left: 100px;
	padding-right: 100px;
}
.main-2{
	padding-left: 50px;
	padding-right: 50px;
}

.h3{
	font-size: 14px;
	text-align:justify;
}
.h3-1{
	font-size: 20px;
	text-align:justify;
	color: #00a859;
}
p{
	font-size: 12px;
	text-align:justify;
}
.khung{
	background: #fff;
	border: 1px solid #b3b3b3;
}
.khung-slide{
	margin: 20px;
}
@media(max-width: 1000px){
	.khung-slide,
	.z_index_p{
		display: none;
	}
	.z_index{
		position: static;
	}
	.main-1, .main-2{
	padding-left: 0px;
	padding-right: 0px;
}

}

@media(max-width: 767px){
	.navbar-toggle{
		float: none;
		margin-left: 10px;

	}
	.h3-1{
	font-size: 15px;
}
}

@media(max-width: 1200px){
	.z_index_p{
		margin-top: 100px;
	}
	.button-mid{
	margin: auto;
	padding-top: 8px;
    padding-bottom: 8px;
	width: 150px;
	background: #00a859;
	color: #fff;
	font-size: 11px;
	text-align: center;
	border-radius: 15px;
	}
}
@media(min-width: 1200px){
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
          	margin-left: 135px;
          }	
}
@media(min-width: 767px) and ( max-width: 990px){
	.navbar-default .navbar-nav>li>a{
	font-size:13px;
	}
}

@media (max-width: 1000px){
	.navbar-toggle {
	    /*display: block;*/
	}
	.collapse {
		display: none;
	}
	.navbar-nav>li{
		/*float:none;*/
	}
	.navbar-nav{
		/*display: none;*/
	}
}


 /*fix top*/
 

      #navbar {
              /*overflow: hidden;*/
              /*background-color: #333;*/
              top: 00px;
              /*position: fixed;*/
              /*width: 50%;*/
              z-index: 999999999999;
           }
        .carousel-control{
        	width: 5%;
        }


 .phantrang{
 	margin:auto;
 }
 .pagination>li:first-child>a, .pagination>li:first-child>span{
 	border-radius: 0px;
 }
 .pagination>li:last-child>a, .pagination>li:last-child>span{
 	border-radius: 0px;
 }
 .pagination>.active>a, .pagination>.active>a:focus, 
 .pagination>.active>a:hover, .pagination>.active>span, 
 .pagination>.active>span:focus, .pagination>.active>span:hover{
 	background-color: #00a859;
 }

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover{
	background-color:#ff6600; 
	color:#fff;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover,
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {
	background-color:#ff6600; 
	color:#fff;
}
.dropdown-menu>li>a, .navbar-nav>li>.dropdown-menu,.open>.dropdown-menu{
	background: #00a859;
	color:#fff;
}